@import "tailwindcss";

@theme {
  --color-primary: #48a285; /* default goldenrod */

  /* Warm tones */
  --color-primary-darkTeal: #62d2af;
  --color-primary-terraCotta: #d36135;
  --color-primary-coral: #ff6f61;
  --color-primary-rust: #b66e41;
  --color-primary-sunshineYellow: #dede10;
  --color-primary-pastelPurple: #a070e8;

  /* Cool tones */
  --color-primary-teal: #426a5a;
  --color-primary-seaBlue: #3a7ca5;
  --color-primary-skyBlue: #00a6d6;
  --color-primary-emeraldGreen: #2e8b8b;

  /* Neutral and soft tones */
  --color-primary-slateBlue: #8e9aaf;
  --color-primary-blushPink: #e7a7c9;
  --color-primary-lavender: #b68cd9;
  --color-primary-mossGreen: #7bc8a4;
  --color-primary-deepPlum: #6d597a;
}

@layer base {
  [data-theme="goldenrod"] {
    --color-primary: var(--color-primary-darkTeal);
  }
  [data-theme="terraCotta"] {
    --color-primary: var(--color-primary-terraCotta);
  }
  [data-theme="coral"] {
    --color-primary: var(--color-primary-coral);
  }
  [data-theme="rust"] {
    --color-primary: var(--color-primary-rust);
  }
  [data-theme="sunshineYellow"] {
    --color-primary: var(--color-primary-sunshineYellow);
  }
  [data-theme="pastelPurple"] {
    --color-primary: var(--color-primary-pastelPurple);
  }

  [data-theme="teal"] {
    --color-primary: var(--color-primary-teal);
  }
  [data-theme="seaBlue"] {
    --color-primary: var(--color-primary-seaBlue);
  }
  [data-theme="skyBlue"] {
    --color-primary: var(--color-primary-skyBlue);
  }
  [data-theme="emeraldGreen"] {
    --color-primary: var(--color-primary-emeraldGreen);
  }

  [data-theme="slateBlue"] {
    --color-primary: var(--color-primary-slateBlue);
  }
  [data-theme="blushPink"] {
    --color-primary: var(--color-primary-blushPink);
  }
  [data-theme="lavender"] {
    --color-primary: var(--color-primary-lavender);
  }
  [data-theme="mossGreen"] {
    --color-primary: var(--color-primary-mossGreen);
  }
  [data-theme="deepPlum"] {
    --color-primary: var(--color-primary-deepPlum);
  }
}
